<div class="main">

  <div style="display: block">

    <!-- Title-->
    <h1 style="margin-bottom: 25px">Create new game</h1>

    <!-- Game creation form-->
    <form [formGroup]="newGameForm" (submit)="onSubmit()">
      <div class="row">
        <div class="col-4">
          <input formControlName="player1" class="form-control form-control-lg" type="text" placeholder="Player 1" />
        </div>
        <div class="col-4">
          <input formControlName="player2" class="form-control form-control-lg" type="text" placeholder="Player 2" />
        </div>
        <div class="col-4">

          <button *ngIf="!loading" [disabled]="!newGameForm.valid" type="submit"
            class="btn btn-outline-primary btn-lg">Create game</button>

          <!-- Spinner-->
          <div *ngIf="loading" class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </form>

  </div>

  <!-- Error handling -->
  <div class="notif">
    <ngb-alert *ngIf="newGameForm.dirty && newGameForm.hasError('playerAreTheSame')"  [dismissible]="false"
      [type]="'warning'">Usernames have to be different</ngb-alert>
    <ngb-alert *ngIf="error" [dismissible]="false" [type]="'danger'">Error while creating the game : {{error}}</ngb-alert>
  </div>
</div>